/*naranja = d35d33*/
/* naranja oscuro = 681C10 */
/* azul = 1A3263 */
body
{
  font-family: Helvetica;
  margin: 0;
}
section h1 strong
{
 color: #4c0900;
}

h2
{
  color: #d35d33;
  text-transform: uppercase;
  font-family: Helvetica;
  font-weight: bold;
  margin-bottom: 40px;
}

.logo
{
  margin-left: 10px;
}

.hero
{
  height: 300px;
  background-color: #d35d33;
  color: white;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-image
{
  object-fit: cover;
  height: inherit;
}

.portfolio
{
  background: #fafafa;
  padding: 20px;
}

.project
{
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-date
{
  margin: 10px 0;
}

.project-description
{
  font-size: 18px;
}

.project-title
{
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 10px;
}

.project-details
{
  width: 50%;
}

.project-imageWrapper
{
  width: 50%;
}

.project-imageWrapper img
{
  max-width: 100%;
}

.header 
{
  background: linear-gradient(to right, #d35d33, #681C10) ;
  color: white;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

ol,
ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}

figure
{
  margin: 0;
}

.menu
{
  height: inherit;
}

.header ol
{
  display: flex;
  height: inherit;
}

.header ol li
{
  height: inherit;
}

.header a
{
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

h1,
h2,
h3
{
  font-family: 'Open Sans', sans-serif; 
}

p
{
  font-family: 'Open Sans', sans-serif;
}

h1
{
  font-size: 40px;
  text-transform: uppercase;
  line-height: 42px;
  letter-spacing: -.2px;
  margin: 0;
}

hr
{
  margin: 0;
}

.footer
{
  color: white;
  background: #3A557C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer img
{
  vertical-align: middle;
}

.footer a
{
  color: white;
  text-decoration: none;
}

.university
{
  display: flex;
  flex-wrap: wrap;
}

.university-title
{
  margin-left: 20px;
}

.activity
{
  margin: 1%;
  width: 48%;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: #fff1f0; 
}

.activity img
{
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.activity-detail
{
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center
}

.activity-title
{
  font-size: 30px;
  margin: 10px;
}

.activity-description
{
  text-align: left;
}

.contact
{
  background: linear-gradient(to right, #d35d33, #681C10);
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.contact h3
{
  margin: 0;
  margin-bottom: 10px;
}

.social-link
{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 10px;
}

.social-link.instagram
{
  background-image: url('../images/instagram.svg');
}
.social-link.linkedin
{
  background-image: url('../images/linkedin.svg');
}
.social-link.twitter
{
  background-image: url('../images/twitter.svg');
}
.social-link.facebook
{
  background-image: url('../images/facebook.svg');
}

.form-email input
{
  border-color: white;
  border-style: solid;
  border-radius: 5px 0px 0px 5px;
  padding: 10px 20px 10px 25px;
  background-image: url('../images/envelope_gray.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  display: inline;
}

.form-email button
{
  display: inline;
  border-style: solid;
  border-color: #3A557C;
  background: #3A557C;
  color: white;
  padding: 10px 0;
  width: 100px;
  border-radius: 0px 5px 5px 0px;
  margin-left: -.3em;
  font-weight: 600;
}

.form-email h3
{
  font-family: Helvetica;
}

.container
{
  max-width: 1000px;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}


@media screen and (max-width: 1024px)
{
  .container
  {
    padding: 0 1em;
  }
/*   .hero
  {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }
  h1
  {
    font-size: 2em;
    z-index: 2;
  }
  .hero-image
  {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
  } */
}

@media screen and (max-width: 767px)
{
  .header
  {
    display: block;
    height: auto;
    padding-top: 0.8em;
  }
  .header ol 
  {
    display: initial;
  }
  .header ol li 
  {
    height: 50px;
  }
  .header a 
  {
    justify-content: center;
  }
  .header .logo 
  {
    text-align: center;
  }
  .project
  {
    display: block;
  }
  .project-details
  {
    width: auto;
  }
  .project-title
  {
    font-size: 1.5em;
    margin-bottom: .3em;
  }
  .project-date
  {
    font-size: 1em;
    margin: .4em 0;
  }
  .project-description
  {
    font-size: .8em;
  }
  .project-imageWrapper
  {
    width: auto;
    text-align: center;
  }
  .activity
  {
    width: auto;
    flex-shrink: initial;
  }
  .activity img
  {
    width: 100%;
  }
}

@media screen and (max-width: 480px)
{
  .project-details
  {
    width: auto;
    font-size: 12px;
  }
  .activity-detail
  {
    margin: -2em .5em .5em;
    padding: 1em;
  }
  .contact
  {
    height: auto;
    padding: 1.5em 0;
    text-align: center;
    display: block;
  }
  .form-email button 
  {
    margin: 1em auto 1.1em;
  }
  .form-email h3 
  {
    margin-top: 0;
  }
  .footer
  {
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }
  .footer img 
  {
    margin-top: 1em;
    height: 3em;
  }
  .form-email button
  {
    margin-left: -.5em;
  }
}

@media screen and (max-width:320px)
{
  .form-email input
  {
    width: 40%;
  }
  .form-email button
  {
    width: 20%;
  }
}